@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,500;0,600;1,500&family=Poppins:wght@700&display=swap");
* {
  font-family: "Playfair Display", serif;
}
:root {
  --color-primary: #0a2944;
  --color-white: #fff;
  --color-grey: #8c8e96;

  --size-14: 14px;
  --size-16: 16px;
  --size-18: 18px;
  --size-20: 20px;
  --size-24: 24px;
  --size-36: 36px;
  --size-60: 60px;

  --w-500: 500;
  --w-700: 700;
}
body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  position: relative;
}
header {
  background: var(--color-primary);
  width: 1920px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--color-white);
  position: fixed !important;
  top: 0;
  left: 0;
  background-color: var(--color-grey);
  opacity: 0.9;
  z-index: 10;
}
nav > ul {
  width: auto;
  display: flex;
  list-style: none;
  gap: 60px;
}
nav ul li {
  font-size: var(--size-18);
  list-style-type: none;
  text-decoration: none;
}
.banner {
  background-image: url("../images/banner.jpg");
  height: 1040px;
  width: 100%;
  background-size: cover;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: end;
}
p.scroll-down {
  bottom: 14px;
  color: var(--color-white);
  position: absolute;
  font-size: var(--size-14);
}

main > section {
  margin-top: 120px;
  padding: 0 320px;
  text-align: center;
}
.hero {
  display: flex;
  height: 462px;
}
.hero-img {
  width: 60%;
  position: relative;
}
.hero-img > img {
  position: absolute;
}
.hero-img-1 {
  top: 0;
  left: 0;
  z-index: 2;
}
.hero-img-2 {
  top: 60px;
  left: 50px;
  z-index: 1;
}
.hero-text {
  width: 40%;
  padding: auto 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 12px;
}
p.hero-text-head {
  margin: 0;
  text-align: left;
  font-size: var(--size-24);
  font-weight: var(--w-500);
}
p.hero-text-body {
  margin: 12px 0;
  text-align: left;
  font-size: 40px;
  font-weight: 700;
  border-bottom: var(--color-primary);
}

h2 {
  font-size: var(--size-36);
  font-weight: var(--w-700);
  text-align: center;
}
.heading_sub {
  text-align: center;
  font-size: var(--size-24);
}
.feature-flex {
  display: flex;
  flex-direction: row;
  gap: 40px;
}
.feature-column-xl {
}
.feature-column-sm {
  display: flex;
  flex-direction: column;
}
.feature-item-sm {
  width: 50%;
}
